        <div class="medium-12 columns" style="margin-top: 10px;">
            <div class="panel-heading">
                Daftar Pool
            </div>
            <div class="panel-body">
                <div class="text-right">
                    <a class="button success" data-open="modalTambah"><i class="fi-plus"></i>&nbsp;Tambah</a>
                </div>

                <table>
                    <thead>
                        <tr>
                        <th width="200">Nama</th>
                        <th>Kota</th>
                        <th width="200">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(_, pool) in pools">
                            <td>{{pool.nama}}</td>
                            <td>{{pool.kota.nama}}</td>
                            <td>
                                <a ng-click="showUpdate(pool.id)" class="button info"><i class="fi-pencil"></i>&nbsp;Ubah</a>
                                <a ng-click="confirmDestroy(pool.id)" class="button alert"><i class="fi-trash"></i>&nbsp;Hapus</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="reveal" id="modalTambah" data-reveal>
            <button class="close-button" ng-click="error_messages=[]" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Tambah Pool</h2>
            <div ng-repeat="(_, message) in error_messages" class="primary callout">
                <p><i class="fi-info"></i> {{message}}.</p>
            </div>
            <form id="form-tambah">
                <label>Nama:<input type="text" name="nama"></label>
                <label>Kota:<input type="text" name="kota_id"></label>
                <a class="button" ng-click="add()">Tambah</a>
            </form>
        </div>

        <div class="reveal" id="modalHapus" data-reveal>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Perhatian</h2>
            <form id="form-hapus">
                <input type="hidden" id="hapus-id">
                <p>Apakah Anda yakin untuk menghapus data kuliah ini?</p>
                <a class="button alert" ng-click="destroy()">Hapus</a>
            </form>
        </div>

        <div class="reveal" id="modalUbah" data-reveal>
            <button class="close-button" ng-click="error_messages_edit = []" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Ubah Pool</h2>
            <div ng-repeat="(_, message) in error_messages_edit" class="primary callout">
                <p><i class="fi-info"></i> {{message}}</p>
            </div>
            <input type="hidden" id="ubah-id">
            <form id="form-ubah">
                <label>Nama:<input type="text" name="nama" ng-model="pool.nama"></label>
                <label>Kota:
                    <select disabled>
                      <option name="kota" ng-repeat="(_,data_kota) in kota" ng-value="data_kota.id" ng-selected="pool.kota_id==data_kota.id">{{data_kota.nama}}</option>
                    </select>
                </label>
                <a class="button" ng-click="update()">Ubah</a>
            </form>
        </div>
