<div layout='row' style="text-align: center;">

<div layout='row' style="margin: 10px 0;" flex='100'>
<div flex='10'><div class='step' ng-class='{active:(state==1)}'><h2>1</h2></div>Rute</div>
<div flex='10'><div class='step' ng-class='{active:(state==2)}'><h2>2</h2></div>Identitas</div>
<div flex='10'><div class='step' ng-class='{active:(state==3)}'><h2>3</h2></div>Pembayaran</div>
<div flex='10'><div class='step' ng-class='{active:(state==4)}'><h2>4</h2></div>Tiket</div>
</div>

</div>

<div layout='row' ng-show='state < 4'>
  <div flex='80'>
    <div layout='column'>
      <md-card ng-show='state==1 && search_result' style='padding: 0px 20px 20px 20px;'>
        <h3>{{rute}}</h3>
        <table style="width: 100%; text-align:left;">
          <thead>
            <tr><th width='10'>Keberangkatan</th><th  width='10'>Harga</th><th  width='10'>Status</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="rute in search_result">
            <td>{{tanggal.toLocaleDateString() + ' ' + rute.keberangkatan}}</td><td>{{rute.harga}}</td><td><md-button ng-click="booking(rute.id)" class='md-raised'>Booking</md-button></td>
            </tr>
          </tbody>
        </table>
      </md-card>

      <md-card ng-show='state==2' style='padding: 0px 20px 20px 20px;'>
        <h3 class='md-headline'> Informasi Reservasi </h3>
        <md-input-container flex='100'>
          <label>Nama Lengkap</label>
          <input ng-model='nama'>
        </md-input-container>
        <md-input-container flex='100'>
          <label>Nomor Identitas (KTP/SIM/Paspor)</label>
          <input ng-model='no_identitas'>
        </md-input-container>
        <md-input-container flex='100'>
          <label>Nomor HP</label>
          <input ng-model='hp'>
        </md-input-container>
        <md-input-container flex='100'>
          <label>E-mail</label>
          <input ng-model='email'>
        </md-input-container>

        <div layout='row'>
          <md-button class='md-raised md-primary' flex='20' ng-click="submit()">Selanjutnya</md-button>
        </div>
      </md-card>

      <md-card ng-show='state==3' style='padding: 0px 20px 20px 20px;'>
        <h3 class='md-headline'> Status Pembayaran </h3>

        <p>Untuk melakukan pembayaran, silakan transfer ke rekening berikut:</p>

        <table style="width: 100%">
          <tbody>
            <tr><td style="width:120px;">Jumlah</td><td>:</td><td>{{harga + code}}</td></tr>
            <tr><td>Bank</td><td>:</td><td>BNI</td></tr>
            <tr><td>Nomor rekening</td><td>:</td><td>032938329</td></tr>
            <tr><td>Atas Nama</td><td>:</td><td>PT. Arnes Shuttle</td></tr>
            <tr><td>Status</td><td>:</td><td ng-class="{paid: (status==2), wait: (status==1), unpaid:(status==0)}">{{status_text}}</td></tr>
          </tbody>
        </table>

        <p>Silakan simpan link berikut, <code>{{link}}</code> untuk melakukan pengecekan status pembayaran.</p>
        
        <p ng-show="status==0">Setelah melakukan pembayaran silakan tekan tombol berikut</p>
        <div ng-show="status!=1" layout="row">
          <md-button class="md-raised md-primary" flex='20' ng-click='go()' ng-enabled='action_enabled'> {{action}} </md-button>
        </div>
      </md-card>

    </div>
  </div>

  <div layout='column' flex='30'>

    <md-card style='padding: 0px 20px 20px 20px;' ng-show='state==1'>
      <h3 class='md-headline'> Info Jadwal &amp; Reservasi</h3>
      <md-datepicker type='date' md-min-date="min_date" md-placeholder='Tanggal' ng-model='tanggal'></md-datepicker>
      <md-input-container flex='100'>
        <label> Pool Asal </label>
        <md-select name='asal_id' ng-model='asal_id'>
          <md-optgroup label='{{index}}' ng-repeat="(index,list) in pools">
            <md-option ng-value="pool.id" ng-repeat="pool in list"> {{pool.nama}} </md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
      <md-input-container flex='100'>
        <label> Pool Tujuan </label>
        <md-select name='tujuan_id' ng-model='tujuan_id'>
          <md-optgroup label='{{index}}' ng-repeat="(index,list) in pools">
            <md-option ng-value="pool.id" ng-repeat="pool in list"> {{pool.nama}} </md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>

      <md-button class='md-raised md-primary' ng-click="search()">Tampilkan</md-button>
    </md-card>

    <md-card style='padding: 0px 20px 20px 20px;' ng-show='state==2'>
      <h3 class='md-headline'> Info Perjalanan </h3>
      <table style="width: 100%">
      <tbody>
        <tr><td>Rute</td><td>:</td><td>{{rute}}</td></tr>
        <tr><td>Keberangkatan</td><td>:</td><td>{{tanggal.toLocaleDateString() + ' ' + rute_data.keberangkatan}}</td></tr>
        <tr><td>Harga</td><td>:</td><td>{{rute_data.harga}}</td></tr>
      </tbody>
      </table>
    </md-card>

    <md-card ng-show='state==3' style='padding: 0px 20px 20px 20px;'>

      <h2>Informasi Perjalanan</h2>
      <table style="width: 100%">
        <tbody>
          <tr><td style="width:120px;">Rute</td><td>:</td><td>{{rute}}</td></tr>
          <tr><td>Keberangkatan</td><td>:</td><td>{{tanggal.toLocaleDateString() + ' ' + rute_data.keberangkatan}}</td></tr>
          <tr><td>Harga</td><td>:</td><td>{{rute_data.harga}}</td></tr>
        </tbody>
      </table>
      <h2>Informasi Pemesan</h2>
      <table style="width: 100%">
        <tbody>
          <tr><td style="width:120px;">Nama Lengkap</td><td>:</td><td>{{nama}}</td></tr>
          <tr><td>Nomor Identitas</td><td>:</td><td>{{no_identitas}}</td></tr>
          <tr><td>Nomor HP</td><td>:</td><td>{{hp}}</td></tr>
          <tr><td>E-mail</td><td>:</td><td>{{email}}</td></tr>
        </tbody>
      </table>

    </md-card>


  </div>


</div>

<div layout='column' ng-show='state == 4' style="margin: 10px 30px; ">
<h1 style="font-weight: 200; text-align: center;">Silakan, ini adalah tiket Anda.</h1>
<div id="tiket">
<md-card style="width: 700px; height: 260px; margin: 0 auto; padding: 30px; position: relative;">
  <h1 style="width: 100%; position: absolute; top: 20px; left: 30px; margin: 0;"> Tiket Perjalanan</h1>
  <img style="width: 200px; position: absolute; top: 10px; right: 0px;" src='/barcode/{{pemesanan_id}}'/>
  <img style="width: 100%; position: absolute; bottom: 0; left: 0;" src='/img/ticket.png'/>

  <table style="width: 100%; position: absolute; top: 80px; left: 180px;">
    <tbody>
      <tr><td style="width:120px;">Kode</td><td>:</td><td>{{id}}</td></tr>
      <tr><td style="width:120px;">Nama Lengkap</td><td>:</td><td>{{nama}}</td></tr>
      <tr><td>Nomor Identitas</td><td>:</td><td>{{no_identitas}}</td></tr>
      <tr><td style="width:120px;">Rute</td><td>:</td><td>{{rute}}</td></tr>
      <tr><td>Keberangkatan</td><td>:</td><td>{{tanggal.toLocaleDateString() + ' ' + rute_data.keberangkatan}}</td></tr>
    </tbody>
  </table>
</md-card>
</div>

<div layout='row'>
<md-button flex='20' style="margin: 30px auto;" class="md-primary md-raised" ng-click='print()'>Print</md-button>
</div>
</div>